In [1]:
import numpy as np
import pandas as pd
import missingno as msno
import matplotlib.pyplot as plt
import geopandas as gpd
import glob
from tqdm import tqdm

%matplotlib inline

In [2]:
data = pd.read_csv(r'file:///J:\Geology\WSGS\Projects\Critical%20Minerals\ngdbsoil-fUS56\chemistry.txt', sep=',')

In [14]:
elements = sorted(data.species.unique())
elements = [x.lower() for x in elements]

In [42]:
t1 = data[data['lab_id'] == 'AHO304'][['species', 'qvalue']]

In [43]:
t2 = data[data['lab_id'] == 'AHO352'][['species', 'qvalue']]

In [66]:
t3 = data[data['lab_id'] == 'W224457'][['species', 'qvalue']].T

In [46]:
balls=[]
balls.append(t1)
balls.append(t2)

In [118]:
blanks=[]
for i in range(len(data.species.unique())):
    blanks.append(data[(data['lab_id'] == 'W224457') & (data['species'] == sorted(np.ndarray.tolist(data.species.unique()))[i])].qvalue)

In [124]:
data[(data['lab_id'] == 'W224457') & (data['species'] == sorted(np.ndarray.tolist(data.species.unique()))[5])].qvalue

120815    81.0
120843    47.0
Name: qvalue, dtype: float64

In [125]:
data.species.unique()[5]

'Zr'

In [128]:
data[(data['lab_id'] == 'W224457') & (data['species'] == 'Zr')]

,rec_id,lab_id,species,unit,qvalue,qualifier,amethod,parameter,tblname,Unnamed: 9
120796,43932940,W224457,Zr,ppm,410.0,NaN,ES_SQ,Zr_ppm_ES,Chem_ES,NaN
120822,44358606,W224457,Zr,ppm,407.0,NaN,NA_LC,Zr_ppm_NA,Chem_NAA,NaN

In [130]:
data.amethod.unique()

array(['ES_SQ', 'AA_F_HBr', 'AA_F_HNO3_P', 'CM_Fuse_P', 'CM_ST_P',
       'CM_PC_P', 'AA_TR', 'AA_F_HF', 'WDX_Fuse', 'CM_HSF', 'NA_LC',
       'CM_Acid', 'DN', 'CB_TT', 'AA_FE', 'AA_F_Fuse', 'CM_Fuse', 'CB_TC',
       'AA_CV_WO', 'CM_ST', 'VOL', 'CP', 'AES_HF', 'AA_HG_Acid', 'ES_Q',
       'AA_HG_HF', 'CB_IRC', 'AA_F_HCl_OE_P', 'GV', 'CM_HNO3_P',
       'CM_Acid_P', 'AA_F_AZ_H2O2_P', 'AA_CV', 'AA_GF_ST', 'ISE_Fuse'],
      dtype=object)